button {
    background-color: #630202; /* Blue button background color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    width: 130px;
    transition: background-color 0.3s ease; /* Smooth color transition */
  }
  
  /* Change button color on hover */
button:hover {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  }